*/build
*/dist
build
dist
.DS_Store



Face_Landmarker/tracker.ico
Face_Landmarker/tracker2.ico
Face_Landmarker/UI_test.py
Face_Landmarker/__pycache__/face_geometry.cpython-311.pyc
Face_Landmarker/__pycache__/pylivelinkface.cpython-311.pyc
Face_Landmarker/.gitignore
